body {
    font-family: Arial, sans-serif;
}

.section {
    display: flex;
    justify-content: space-between;
    font-size: 24px;
}

.section .personal-details, .section .other-details {
    max-width: 500px;
    margin-left: 80px;
    
}

.section .personal-details {
      float: left
}

.section .other-details {
    
    font-weight: bold;

}
.section .other-details-items {
    margin-left: -40%;
    font-weight: bold;
    color: #336666;
    max-width: 500px;
 
}
.skills {
    display: flex;
}

.skill-box {
    width: auto;
    padding: 10px;
    margin: 1%;
    border: 1px solid #ddd;
    text-align: center;
    
}

.skill-box .icon {
    font-size: 30px;
}

.skill-box .experience {
    font-size: 20px;
}
